<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="form-delete-user">
        <form action="/delete-user" method="post">
            <fieldset>
                <h1>Delete Users</h1>
                <label for="">are u sure delete?</label>
                <input style="display: none" type="id" name="userId"  id="id" placeholder="id" value="<%= userEdit.id %>">
                <input type="text" name="email"  id="email" placeholder="email" value="<%= userEdit.email %>">
        
                <button>Confirm</button>
            </fieldset>
        </form>
    </div>
</body>
</html>