<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="form-edit-user">
        <form action="/edit" method="post">
            <fieldset>
                <h1>Edit Users</h1>
                <input type="text" name="email"  id="email" placeholder="email">
                <input type="text" name="myname" id="name" placeholder="name">
                <input type="text"  name="city" id="city" placeholder="city">
                <button>submit</button>
            </fieldset>
        </form>
    </div>
</body>
</html>